In [1]:
# Import our dependencies
import os 
import datetime
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from matplotlib import pyplot as plt
import pandas as pd
from sklearn.cluster import KMeans
import numpy as np
import tensorflow as tf

In [3]:
#Import the dataset 
india_companies_df = pd.read_csv('Resources/related_databases/India-startup-funding-2021-full.csv')
# india_companies_df = companies_df.drop(['Portfolio Exits'],axis = 1)
india_companies_df.head(10)

,Month,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount ($),Stage
0,December,CollegeDekho,2015.0,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC",35000000,Series B
1,December,BOX8,2012.0,Mumbai,Food & Beverages,India's Largest Desi Meals Brand,"Anshul Gupta, Amit Raj",Tiger Global,40000000,NaN
2,December,Simpl,2015.0,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures",40000000,Series B
3,December,8i Ventures,2018.0,Mumbai,Venture Capital & Private Equity,8i is a Mumbai & Bangalore based early stage f...,Vikram Chachra,NaN,50000000,NaN
4,December,PayGlocal,2021.0,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,4900000,Series A
5,December,Curefit,2016.0,Bangalore,"Health, Wellness & Fitness",Tata Digital-backed Curefit,"Mukesh Bansal, Ankit",Zomato,145000000,NaN
6,December,Pocket FM,2018.0,Bangalore,OTT,Pocket FM lets users discover and enjoy the gr...,"Rohan, Nishanth Srinivas, Prateek Dixit","Lightspeed, Times Group, Tanglin Venture Partners",22000000,Series B
7,December,CHARGE+ZONE,2018.0,Vadodara,Automotive,CHARGE+ZONE is a tech-driven EV Charging infra...,Kartikey Hariyani,Venture Catalysts,10000000,NaN
8,December,PlanetSpark,2017.0,Gurugram,Education Management,PlanetSpark is building the World Leader in Co...,"Maneesh Dhooper, Kunal Malik","Binny Bansal, Deep Kalra, Dr Ashish Gupta, Gok...",13000000,Series B
9,December,LenDenClub,2015.0,Mumbai,Financial Services,P2P lending platform delivering high returns o...,"Bhavin Patel, Dipesh Karki","Tuscan Ventures, Ohm Stock Brokers, Artha Vent...",10000000,Series A

In [4]:
india_companies_df['Stage'].value_counts()

Seed             246
Pre-series A     148
Series A         126
Series B          49
Pre-seed          46
Series C          45
Debt              27
Series D          21
Series E          18
Pre-series B      10
Pre-Series A       9
Series F           6
Pre-series A1      4
Pre-series         2
1200000            2
Series H           2
300000             2
Series G           2
Bridge             2
Series I           1
Pre-Seed           1
Seed+              1
Series F2          1
Series A+          1
Series A2          1
Early seed         1
Series D1          1
6000000            1
1000000            1
Seies A            1
Series B3          1
PE                 1
Series F1          1
Name: Stage, dtype: int64

In [5]:
india_companies_df.describe()

           Founded
count  1208.000000
mean   2016.655629
std       4.517364
min    1963.000000
25%    2015.000000
50%    2018.000000
75%    2020.000000
max    2021.000000

In [6]:
india_companies_df['Sector'].value_counts()

FinTech                              121
EdTech                               102
Financial Services                    61
Food & Beverages                      37
Information Technology & Services     36
                                    ...
Environmental Services                 1
Merchandise                            1
Facilities Services                    1
D2C Business                           1
Fashion & Lifestyle                    1
Name: Sector, Length: 261, dtype: int64